:root {
    --var-init-width : 30px;
    --var-init-height : 30px;
    --var-buttons-width : 30px;
    --var-buttons-height : 30px;
    --var-grid-height : 35px;
    --var-grid-width : auto;
    --var-font-small : 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: var(--var-init-width) var(--var-grid-width) var(--var-grid-width) var(--var-grid-width) var(--var-buttons-width);
    grid-template-rows: var(--var-grid-height) var(--var-grid-height) var(--var-grid-height);
    gap: 10px;
    background: linear-gradient(135deg, #640164 0%, #5f0000 100%);
    border: 2px solid #000;
    border-radius: 8px;
    padding: 5px;
}

.init-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.init-item{
    width: var(--var-init-width);
    height: var(--var-height);
}

.init-number-input{
    background-color: transparent;
    border:lightgray 2px solid;
    border-radius: 8px;
    outline: none;
    appearance: none;
    font-size: var(--var-font-small);
    text-align: center;
}

.name-section{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-input{
    background-color: transparent;
    border:lightgray 2px solid;
    border-radius: 8px;
    outline: none;
    appearance: none;
    font-size: var(--var-font-small);
    text-align: begin;
    flex-grow: 1;
}


.hp-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}
.hp-input{
    background-color: transparent;
    border:lightgray 2px solid;
    border-radius: 8px;
    outline: none;
    appearance: none;
    font-size: var(--var-font-small);
    text-align: begin;
    width: var(--var-init-width);
}