.npc-main {
    border-radius: 8px;
    border: 1px solid black;
    background: linear-gradient(135deg, #21003f 0%, #360024 100%);
    padding: 12px;
}

.npc-grid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    gap: 5px;
}

.npc-card-grid {
    display: grid;
    
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 5px;
}
.npc-card-field {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.npc-card-field-input {
    border: 1px solid rgb(128, 128, 128);
    border-radius: 8px;
    background: gray;
}
.npc-card-field-label {
    
}